__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
env
ENV
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.log
*.sqlite3
*.db
*.egg-info
.installed.cfg
*.egg
node_modules
npm-debug.log
*.swp
.DS_Store
.env
